extends layout

block content

    .container
        .row
            .col-lg-12
                h3.page-header Add New Contact

        .row(ng-controller="UserController")
            .col-lg-4.col-lg-offset-4
                form(name="userForm", ng-submit="userForm.$valid && addUser()" novalidate)
                    .form-group
                        label(for='inputFullName') Full Name
                        input#inputFullName.form-control(type='text', placeholder='Full Name',
                        ng-model="user.name", required)

                    .form-group
                        label(for='inputEmail') Email
                        input#inputEmail.form-control(type='email', placeholder='Email Address',
                        ng-model="user.email", required)

                    .form-group
                        label(for='inputMobile') Mobile
                        input#inputMobile.form-control(type='number', placeholder='Mobile Number',
                        ng-model="user.mobile", required)

                    .form-group
                        label(for='inputDOB') Date Of Birth
                        input#inputDOB.form-control(type='date', placeholder='Date Of Birth',
                        ng-model="user.dob", required)

                    .form-group
                        label Gender
                        .radio
                            label
                                input(type='radio', name='gender', value='Male', ng-model="user.gender")
                                |     Male
                        .radio
                            label
                                input(type='radio', name='gender', value='Female', ng-model="user.gender")
                                |     Female

                    button.btn.btn-success.btn-block(type='submit', ng-disabled="userForm.$invalid") Add
                .alert(role='alert', ng-show="status", ng-class="{'alert-success': statusContext === 'success', 'alert-danger': statusContext === 'error', 'alert-info': statusContext === 'making request'}")
                    |   {{ status }}