doctype html
html(ng-app="PhoneBookApp")
    head
        title= title
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        block content
        script(src="/angular.min.js")
        script(src="/javascripts/app.js")
