@font-face {
    font-family: Quicksand;
    src: url('../fonts/quicksand.ttf');
}

body {
    font: 14px Quicksand, Helvetica, Arial, sans-serif;
}

.page-header {
    font-weight: 900;
}

.form-control, .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #5e5e5e;
}

.btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.ng-invalid.ng-dirty {
    border-color: #d9534f;
}

.ng-valid.ng-dirty {
    border-color: #5cb85c;
}

.alert {
    margin-top: 10px;
}